{% extends "base.html" %}

{% block content %}
<h2>Sobre Nosotros</h2>
<p>TrendVibe es tu destino para la moda urbana más actual. TrendVibe no es solo una tienda, es el epicentro de la cultura urbana. No te límites a seguir la corriente; define el juego con piezas seleccionadas que capturan la esencia del mañana.</p>
<p>Descubre las tendencias que marcarán el 2026. TrendVibe no es solo tu destino para la moda urbana más actual; es el epicentro donde la cultura callejera y el futuro convergen. Entendemos que tu ropa es tu manifiesto personal, por eso nos alejamos de lo convencional para ofrecerte una opción exclusiva hasta la reinvención de los básicos, nuestra selección está diseñada para quienes no esperan a que las tendencias lleguen, sino que las crean. Proyecta tu identidad, rompe los esquemas y adelántate al pulso visual que dominará las calles este 2026.
El futuro no se espera, se viste. Descubre hoy lo que marcará el mañana.
</p>
{% endblock %}