<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa en Línea - Estilo Urbano</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Tienda de Ropa en Línea - Estilo Urbano</h1>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('listar_productos') }}">Productos</a>
        <a href="{{ url_for('agregar_producto') }}">Agregar Producto</a>
        <a href="{{ url_for('factura') }}">Factura</a>
        <a href="{{ url_for('about') }}">Sobre Nosotros</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    Proyecto Flask - POO + SQLite | Diego Murillo UEA
</footer>

</body>
</html>