<!DOCTYPE html>
<html>
<head>
    <title>Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Inventario</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/agregar">Agregar Producto</a>
        </nav>
    </header>

    <hr>

    {% block content %}{% endblock %}

    <footer>
        <hr>
        <p>Proyecto Flask - POO + SQLite</p>
    </footer>
</body>
</html>