<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Sistema de Inventario</h1>
    <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/agregar">Agregar Producto</a>
        <a href="/login">Login</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    Proyecto Flask - POO + SQLite DIEGO MURILLO
</footer>

</body>
</html>