<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TrendVibe Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>TRENDVIBE STORE</h1>
    </header>

    <main>
        <h2>Nueva Colección 2026</h2>
        <div class="grid-productos">
            {% for p in lista_productos %}
            <article class="card">
                <h3>{{ p.nombre }}</h3>
                <p class="marca">{{ p.marca }}</p>
                <p class="precio">${{ p.precio }}</p>
                <p>Disponibles: {{ p.stock }}</p>
                <a href="#" class="btn">Ver Detalles</a>
            </article>
            {% endfor %}
        </div>
    </main>
</body>
</html>