{% extends "base.html" %}

{% block content %}

<h2>Lista de Productos</h2>

<a href="/agregar" class="btn">Agregar Producto</a>

<div class="productos-grid">
    {% for producto in productos %}
    <div class="card">
        <h3>{{ producto.nombre }}</h3>
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>

        <a href="/editar/{{ producto.id }}" class="btn">Editar</a>
        <a href="/eliminar/{{ producto.id }}" class="btn">Eliminar</a>
    </div>
    {% endfor %}
</div>

{% endblock %}