{% extends "base.html" %}

{% block content %}
<h2>Lista de Productos</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>

    {% for producto in productos %}
    <tr>
        <td>{{ producto.get_id() }}</td>
        <td>{{ producto.get_nombre() }}</td>
        <td>{{ producto.get_cantidad() }}</td>
        <td>${{ producto.get_precio() }}</td>
        <td>
            <a href="/editar/{{ producto.get_id() }}">Editar</a>
            <a href="/eliminar/{{ producto.get_id() }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}